{% extends 'layout.html' %}

{% block content %}
{% load static %}
<div class="view d-flex justify-content-center align-items-top ">
    <div class="brand-container">
      <div class="row">
        <div class="col-md-12 mb-4 text-center">
          <h1 class="responsive mb-0 pt-md-5 pt-5"><strong>Online Store</strong></h1>
          <hr class="hr-light my-4">
          <h5 class="text-uppercase mb-4 white-text"><strong>Insurance services</strong></h5>
        </div>
      </div>
    </div>
</div>
{% endblock %}
