{% extends 'layout.html' %}

{% block content %}
{% load static %}
<div class="view d-flex justify-content-center align-items-top ">
    <div class="brand-container">
      <div class="row">
        <div class="col-md-12 mb-4 text-center">
          <h1 class="responsive mb-0 pt-md-5 pt-5"><strong>Online Store</strong></h1>
          <hr class="hr-light my-4">
          <h5 class="text-uppercase mb-4 white-text"><strong>Insurance services</strong></h5>
        </div>
      </div>
    </div>
</div>
{% endblock %}

{% block form %}
<div class = "container-fluid logintemplate text-left">
  <div class = "row">
    <div class = "col-sm"></div>
    <div class = "col-6-sm">
      {% if form.errors %}
      <p>Username and password didn't match. Please try again.</p>
      {% endif %}
          <p>Please, use the following form to log-in:</p>
          <form action="{% url 'products' %}" method="POST">
            {% csrf_token %}
            <div class = "form-group">
              <input type = "text" class = "form-control" placeholder = "User name" id = "name">
            </div>
            <div class = "form-group">
                <input type ="password" class = "form-control" placeholder = "password" id = "password">
                <input type = "submit" class = "btn btn-secondary" value = "Sign in" id = "submit">
            </div>
          </form>
    </div>
    <div class = "col-sm"></div>
  </div>
</div>
{% endblock %}
